.preloader {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	background: #ffffff;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	z-index: 9999999;
}
.preloader-wrapper{
	height: 100%;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
h1, h2, h3, h4, h5, h6,
#primary-menu .real-nav .nav-link{
	font-family: "Luckiest Guy", sans-serif;
	color:#422C18;
}
.btn{
	font-family: "Luckiest Guy", sans-serif;
}
.real-nav .nav-link{
	font-size: 1.5em;
}


.grandhotel,
.user-input h2{
	font-family: 'Grand Hotel', serif;
}

.carousel-item {
	height: 100vh;
	min-height: 350px;
	/*background: no-repeat center center scroll;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}

.carousel-caption{
	top: 50%;
	left: 50%;
	bottom: auto;
	right: auto;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.carousel-indicators,.carousel-caption,.carousel-control-prev,.carousel-control-next{
	z-index: 3;
}
.carousel-caption h2{
	color:#fff;
}
.blackground{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	background-color: rgba(0,0,0,0.5);
}

#primary-menu{
	box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
	background-color: #fff;
}

.navbar-brand img{
	width: 160px;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.scrolled .navbar-brand img{
	width: 60px !important;
}


.follow-us-top-nav{
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

body.admin-bar #primary-menu{
	top:32px !important;
}
@media screen and ( max-width: 782px ) {
	body.admin-bar #primary-menu { top: 46px !important; }
}


.follow-us-text{
	line-height: 2em;
	padding-right: 1em;
	font-size: 1.5em;
}
.follow-us-text-top{
	line-height: 3em;
	padding-right: 1em;
	font-size: 1em;
}

/*.navbar-light .navbar-nav .nav-link{color: red;}*/


.follow-us-top-nav{
	display: none;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

@media all and (max-width: 991px) {
	#logo{
		width: 60px;
	}
	.follow-us-top-nav{
		display: none;
	}
	.real-nav{
		text-align: center;
	}
}

@media all and (max-width: 443px){
	#events .event .card{
		flex-direction: column !important;
	}
	#events .event .card-header,#events .event .card-body{
		width: 100% !important;
	}
}

@media all and (min-width: 444px) and (max-width: 991px){
	#events .event:nth-child(even) .card-header{
		order:2;
	}
}
@media all and (min-width: 992px) {
	.follow-us-top-nav{
		display: flex;
	}
/*	.scrolled .follow-us-top-nav{
		display: none;
	}*/
}


@media all and (max-width: 767px){
	.follow-us-text{
		display: none;
	}
	.footer-logo{
		text-align: center;
	}
	.footer-social-nav{
		margin:auto !important;
	}
	#ujebCarousel h2{
		font-size: 2rem !important;
	}
	.carousel-caption{
		width: 75%;
	}
	#tarteaucitronRoot #tarteaucitronAlertBig{
		width: auto !important;
	}

}

#history,#newsletter,#testimonials{
	position: relative;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}

#history article,#newsletter article{
	max-width: 600px;
	margin:0 auto;
}

.input-group>span.wpcf7-form-control-wrap{
	width: 100%;
}

.btn-outline-warning:hover{
	color:white;
}

dd,dd p{
	margin-bottom: 0;
}

.fa-facebook{
	color: rgba(59, 89, 152, 1);/*#3b5998*/
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.fa-facebook:hover{
	color: rgba(59, 89, 152, 0.8);
}
.fa-youtube{
	color:#ff0000;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.fa-youtube:hover{
	color:#b22222;
}
.fa-twitter{
	color:#00acee;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.fa-twitter:hover{
	color:#2bc4ff;
}

.card-header{
	width: 33% !important;
	padding:8px;
}
.card-header:first-child{
	border-radius: 0;
}
.card-body{
	width: 67%;
}
.modal .card-body .event-buttons{
	display: none !important;
}
@media all and (max-width: 490px){
	.modal .card{
		flex-direction: column !important;
	}
	.modal .card-header,.modal .card-body{
		width: 100% !important;
	}
}

div.wpcf7-response-output {
    margin-top:0;
    margin-bottom:2em;
}

.vimeo_player iframe{
	position:absolute;top:0;left:0;width:100%;height:100%;
}


.btn-outline-secondary:hover{
    color: #fff !important;
    background-color: #6c757d;
    border-color: #6c757d;
}

/*.popover{
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}*/

.testimonials-title{
	position: relative;
	z-index: 3;
	color: #ffffff;
	text-align: center;
	padding-top: 60px;
	margin-bottom: -70px;
}

/*.event .card{
	transition: 0.2s;
}
.event .card:hover{
	transform: scale(1.02);
}*/

.card-header{
	background-size: cover;
	background-position: center;
}
.event .card-body{
	background-color: #ffffff;
}
.event .card-header h3,
.event .card-header h4,
.event .card-header h5,
.event .card-body{
	z-index: 3;
}


.modal-body.user-input img.alignleft{
	float: left;
	margin-right: 1em;
	margin-bottom: 1em;
}
.modal-body.user-input img.alignright{
	float: right;
	margin-left: 1em;
	margin-bottom: 1em;
}
.modal-body.user-input img.aligncenter{
	float: none;
	display: block;
	margin:auto;
	/*margin-left: 1em;*/
	margin-bottom: 1em;
}

.modal-body article.event{
	padding:0 !important;
}

[readonly="readonly"]{
	background-color: #ffffff !important;
}